/* Geeft de border voor card components */
.container-border{
  border: 1px solid #E3e3e3;
  border-radius: 25px;
}

/* Geeft de marge dat de buttons niet tegen elkaar plakken */
.button-margin {
  margin-right: 12px;
}

.button-style{
  max-height: 35px;
  max-width: 35px;
}
